<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/recipe9_10/src/org/java9recipes/chapter09/recipe09_10/Recipe9_10.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.java9recipes.chapter09.recipe09_10.Recipe9_10"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="recipe9_10"/>
</launchConfiguration>
