<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/recipe_11_05/src/org/java9recipes/chapter11/recipe11_05/Recipe11_5.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.java9recipes.chapter11.recipe11_05.Recipe11_5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="recipe_11_05"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xlog:gc:gc.log"/>
</launchConfiguration>
