<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/recipe9_12/src/org/java9recipes/chapter09/recipe09_11/Recipe9_11.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.java9recipes.chapter09.recipe09_11.Recipe9_11"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="recipe9_12"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xlog:all:file=test.txt:time,level"/>
</launchConfiguration>
